---
layout: minimal
---

{% include nav.html %}

<div class="section">
  <div class="w-container">
    <div class="hero">
      <h1 class="study-title">{{ page.title }}</h1>
    </div>
    <h1 class="study-results">Study Results</h1>
    <p class="pifr-explained">This page summarizes the results of a ProveItForReal.org study. Although the study was commissioned by the creator of the product in question, all All the data was collected in a tamper-free manner, and the analysis was done using pre-declared trustworthy methods. You can trust this summary.</p>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/studies.css">

<script src="/js/Chart.min.js"></script>
<script src="/js/Chart.legend.js"></script>

<div class="section">
  <div class="w-container">
    {{ content }}
  </div>
</div>

{% include footer.html %}
